@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&family=Oswald:wght@200;300;400;500;600;700&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sassy+Frass&family=Smooch&family=Source+Sans+3:wght@200&display=swap");
html {
  font-size: 62.5%;
  font-family: 'Source Sans 3', sans-serif; }

* {
  padding: 0;
  margin: 0; }

.navigation__checkbox {
  display: none; }

.navigation__nav {
  position: fixed;
  height: 100vh;
  width: 0;
  opacity: 0;
  top: 0;
  right: 0;
  z-index: 1500;
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.35); }

.navigation__button {
  background-color: #fff;
  position: fixed;
  right: 6rem;
  top: 6rem;
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  z-index: 2000;
  text-align: center;
  cursor: pointer;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2); }
  @media (max-width: 56.25em) {
    .navigation__button {
      right: 4rem;
      top: 4rem; } }

.navigation__background {
  height: 6rem;
  width: 6rem;
  position: fixed;
  right: 6.5rem;
  top: 6.5rem;
  border-radius: 50%;
  z-index: 1000;
  background-image: linear-gradient(#000, #eb6928);
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1); }
  @media (max-width: 56.25em) {
    .navigation__background {
      right: 4.5rem;
      top: 4.5rem; } }

.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(80); }

.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%; }

.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style-type: none;
  text-align: center;
  width: 100%; }

.navigation__item {
  margin: 1rem; }

.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
  padding: 1rem 2rem;
  background-size: 230%;
  transition: all 0.4s;
  font-size: 3rem;
  font-weight: 300;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase; }

.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: #eb6928;
  transform: translateX(1rem); }

.navigation__link span {
  margin-right: 1rem;
  display: inline-block; }

.navigation__icon {
  position: relative;
  width: 100%;
  margin-top: 3.5rem; }
  .navigation__icon, .navigation__icon::before, .navigation__icon::after {
    width: 3rem;
    height: 2px;
    background-color: #333;
    display: inline-block; }
  .navigation__icon::before, .navigation__icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all 0.3s; }
  .navigation__icon::before {
    top: -0.8rem; }
  .navigation__icon::after {
    top: 0.8rem; }

.navigation__button:hover .navigation__icon::before {
  top: -1rem; }

.navigation__button:hover .navigation__icon::after {
  top: 1rem; }

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent; }

.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(135deg); }

.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(-135deg); }

.header {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(247, 163, 7, 0.5), rgba(0, 0, 0, 0.5)), url(../img/srr-min.jpg);
  background-size: cover; }

.head h3 {
  font-size: 5rem;
  padding: 6rem 10rem;
  color: white;
  font-family: 'Sassy Frass', cursive; }

.Innovative {
  position: relative;
  width: 40rem;
  height: 30rem;
  background-color: white;
  margin-left: 5rem;
  text-align: center; }
  .Innovative-circle {
    position: absolute;
    width: 5rem;
    height: 5rem;
    background-color: #eb6928;
    border-radius: 50%;
    margin: 3rem 2rem; }
  .Innovative h1 {
    font-size: 3.5rem;
    padding-top: 8rem;
    font-weight: 900; }
  .Innovative P {
    font-size: 1.4rem;
    color: black;
    padding: 1rem 3.5rem; }
  .Innovative button {
    background-color: #eb6928;
    color: white;
    margin-top: 2rem; }

p {
  font-family: 'Poppins', sans-serif; }

button {
  padding: 1rem 1.5rem;
  border: none;
  transition: all .2s ease-in-out; }
  button:hover {
    color: #eb6928;
    background-color: white;
    border: #eb6928 solid 1px; }

.Company-Services {
  width: 100%;
  height: auto;
  padding: 5rem 0;
  background-color: #e5e5e5;
  text-align: center; }
  .Company-Services h1 {
    font-size: 5rem;
    font-weight: 900;
    color: #eb6928; }

.text {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly; }
  .text-box {
    margin-top: 5rem;
    width: 20rem;
    padding: 4rem 2rem;
    background-color: #fff;
    text-align: left; }
    .text-box h3 {
      font-size: 3.6rem; }
    .text-box p {
      font-size: 1.2rem;
      padding: 2rem 0; }
    .text-box b {
      border-bottom: 1px solid #eb6928;
      padding-bottom: 5px;
      font-family: bold; }

.Strategy {
  width: 100%;
  height: 105.6vh;
  padding: 5rem 0; }

.box {
  position: relative;
  width: 60rem;
  height: 40rem;
  margin: -5rem;
  background-color: #eb6928; }
  .box img {
    position: absolute;
    width: 60rem;
    height: 60rem;
    margin: -4rem 20rem; }
  .box-box {
    position: absolute;
    width: 30rem;
    height: 35rem;
    margin: 35rem 55rem;
    background-color: #eb6928;
    z-index: 10; }
    .box-box-box {
      position: absolute;
      width: 45rem;
      margin: 3rem 3rem;
      background-color: #1b1919;
      z-index: 10;
      padding: 3rem 1rem; }
      .box-box-box p {
        font-size: 1.2rem;
        padding: 2rem 1rem 0;
        color: white; }
      .box-box-box h1 {
        font-size: 4.8rem;
        color: white; }

.research {
  width: 100%;
  height: auto;
  padding: 5rem 0;
  text-align: center;
  background-image: url(../img/iki-min.jpg);
  background-size: cover;
  text-align: center; }
  .research h1 {
    font-size: 6rem;
    padding: 1rem 1rem;
    font-weight: 900;
    color: white; }

.heading-box {
  width: 70%;
  margin: 0 auto; }

.text-boxx {
  width: 20rem;
  height: auto;
  margin: 5rem auto;
  padding: 5rem 2rem;
  background-color: rgba(0, 0, 0, 0.8);
  text-align: left; }
  .text-boxx ul li {
    text-decoration: none;
    list-style: none;
    font-size: 1.6rem;
    padding-left: 3rem;
    color: white; }
  .text-boxx ul span {
    color: #eb6928;
    font-size: 3rem;
    padding-right: .5rem; }
  .text-boxx h3 {
    color: #eb6928;
    text-align: center;
    padding: 2rem 0;
    font-size: 3rem;
    font-weight: bolder; }

.what {
  position: relative;
  width: 100%;
  height: auto;
  padding: 5rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 60rem; }

.same {
  position: absolute;
  width: 20rem;
  height: 70rem;
  margin: -5rem 0;
  background-color: #eb6928; }

.same1 {
  position: absolute;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }

.box-we {
  width: 60rem;
  height: 60rem; }
  .box-we-text {
    width: 25rem;
    height: 20rem;
    text-align: center;
    background-color: #fff;
    margin: 5rem 2rem;
    float: left; }
    .box-we-text h3 {
      font-size: 2rem;
      margin: 3rem auto; }
    .box-we-text p {
      padding: 0 2rem;
      font-size: 1.2rem; }
  .box-we img {
    width: 28rem;
    height: 28rem;
    margin: 1rem .5rem 2rem; }

.box-we-image {
  width: 50rem;
  height: 60rem; }

.meet {
  width: 100%;
  height: auto;
  padding: 5rem 0;
  background-color: #e5e5e5;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; }
  .meet h1 {
    font-size: 5rem;
    color: #eb6928;
    padding-bottom: 3rem; }
  .meet h4 {
    font-size: 2rem;
    padding-top: 6rem; }

.boc {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }

.picture {
  width: 24rem;
  height: auto;
  padding: 3rem 1rem;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0 1rem;
  text-align: center;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.9); }
  .picture h2 {
    font-size: 3rem;
    padding: 1rem .5rem 0; }
  .picture p {
    font-size: 1.4rem;
    padding: 1rem .5rem; }
  .picture h3 {
    font-size: 1.2rem;
    font-weight: bolder;
    padding: 0rem .5rem 1rem; }
  .picture .fab {
    font-size: 2.2rem;
    padding: 0 .5rem;
    transition: all .2s ease-in-out; }
    .picture .fab:hover {
      color: #eb6928; }
  .picture img {
    height: 15rem;
    margin: 0 auto;
    border-radius: 50%; }

.got {
  width: 100%;
  height: auto;
  padding-bottom: 5rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }

.box-one {
  position: relative;
  width: 40rem;
  height: 45rem;
  background-color: #eb6928; }
  .box-one img {
    position: absolute;
    width: 50rem;
    height: 50rem;
    margin: 3rem 0 0 7rem; }

.box-two {
  width: 60rem;
  height: 50rem;
  background-color: #292525; }
  .box-two-sub {
    width: 30rem;
    height: auto;
    padding: 2rem 1rem;
    margin: 7rem 0 0 20rem; }
    .box-two-sub h1 {
      font-size: 5rem;
      color: #fff; }
    .box-two-sub p {
      font-size: 1.2rem;
      padding: 1rem;
      color: #fff; }
    .box-two-sub h4 {
      font-size: 1.5rem;
      padding: 1rem 0;
      color: #fff; }
    .box-two-sub-btn {
      font-size: 1.5rem;
      color: white;
      background-color: transparent;
      border: #fff solid 1px; }

.form {
  width: 100%;
  height: auto;
  padding: 5rem 0;
  background-color: #292d33;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center; }

.social-icon {
  margin: 2rem 5rem; }

.aa {
  padding-right: 1.5rem;
  color: #eb6928;
  font-size: 2.5rem;
  transition: all .2s ease-in-out; }
  .aa:hover {
    color: white; }

.detail {
  width: 45rem;
  height: 34rem; }
  .detail h1 {
    font-size: 3.5rem;
    padding: 5rem 1rem 1rem 5rem;
    color: #fff; }
  .detail p {
    font-size: 1.4rem;
    color: #fff;
    padding-left: 5rem; }
  .detail span {
    padding-right: 1rem; }

.form-sec {
  width: 45rem;
  height: 38rem;
  background-color: #eb6928; }

@media (maxwidth: 750px) {
  body {
    font-family: 'Oswald', sans-serif;
    display: flex;
    flex-direction: column; } }

.align-center {
  text-align: center; }

.get-in-touch {
  height: 100%;
  position: relative; }

.row {
  margin: -20px 0; }
  .row:after {
    content: "";
    display: table;
    clear: both; }
  .row .col {
    padding: 0 20px;
    float: left;
    box-sizing: border-box; }
    .row .col.x-50 {
      width: 50%; }
    .row .col.x-100 {
      width: 100%; }

.content-wrapper {
  min-height: 100%;
  position: relative; }

.get-in-touch {
  max-width: 650px;
  margin: 0 auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%); }
  .get-in-touch .title {
    text-align: center;
    font-family: Raleway, sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 36px;
    line-height: 48px;
    padding-bottom: 48px; }

.contact-form {
  margin-top: 5rem; }
  .contact-form .form-field {
    position: relative;
    margin: 32px 0; }
  .contact-form .input-text {
    display: block;
    width: 100%;
    height: 36px;
    background-color: transparent;
    border-width: 0 0 2px 0;
    border-color: #fff;
    font-family: Lusitana, serif;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400; }
    .contact-form .input-text:focus {
      outline: none; }
    .contact-form .input-text:focus + .label, .contact-form .input-text.not-empty + .label {
      transform: translateY(-24px); }
  .contact-form .label {
    position: absolute;
    left: 20px;
    bottom: 11px;
    font-family: Lusitana, serif;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
    color: #fff;
    cursor: text;
    transition: transform .2s ease-in-out; }
  .contact-form .submit-btn {
    display: inline-block;
    background-color: transparent;
    color: #fff;
    font-family: Raleway, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 16px;
    line-height: 24px;
    padding: 8px 16px;
    border: 1px solid #fff;
    cursor: pointer; }

.note {
  position: absolute;
  left: 0;
  bottom: 10px;
  width: 100%;
  text-align: center;
  font-family: Lusitana, serif;
  font-size: 16px;
  line-height: 21px; }
  .note .link {
    color: #888;
    text-decoration: none; }
    .note .link:hover {
      text-decoration: underline; }

@media (max-width: 1100px) {
  .box-we-image {
    display: none; }
  .box-box {
    margin-left: 5rem;
    margin-top: 29rem; } }

@media (max-width: 500px) {
  .Strategy {
    display: none; } }

@media (max-width: 583px) {
  .asas {
    display: none; }
  .box-two-sub {
    width: 100%;
    margin-left: 0;
    margin-top: 10rem; }
  .box {
    width: 100%; }
  .box-box {
    width: 95%;
    margin: 5rem 15%; }
  .box-box-box {
    margin: 0 0; }
  .box-imager {
    display: none; } }

@media (max-width: 750px) {
  .abab {
    width: 100% !important;
    margin: 0 0 !important; }
  .box-imager {
    margin: 0rem 0 !important;
    width: 100% !important; } }
