$color-primary: #55c57e;
$color-primary-light: #000;
$color-primary-dark: #eb6928;
$color-gray-dark: #777;
$color-gray-dark-2: #999;
$color-white: #fff;
$color-black: #000;
$color-primary-light-1: #f7f7f7;

$color-gray-dark-3: #333;
$color-gray-light-2: #eee;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7330;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-orange:#eb6928;
$color-back:#e5e5e5;